	<head>
		<title>The Bubble | an Ethereum Experiment</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="icon" href="/favicon.ico">
		<style>
			 h1 {
				 font-family: 'Roboto'; font-style: sans-serif;
				 font-weight: lighter;
				 font-size: 48px;
		   }
			body {
				background:#777;
				padding:0;
				margin:0;
				overflow:hidden;
				color: white;
			}

			#info {
				position: absolute;
				top: 0px; width: 100%;
				color: #ffffff;
				padding: 5px;
				font-family:Monospace;
				font-size:13px;
				text-align:center;
				z-index:1000;
			}

			a {
				color: #ffffff;
			}

			#oldie a { color:#da0 }
		</style>
	</head>

	<body>
		{{> menu}}
		{{> world}}
	</body>

<!--<!DOCTYPE html>
<html>
<head>
  <title>MetaCoin - Default Truffle App</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="./app.css" rel='stylesheet' type='text/css'>
  <script src="./app.js"></script>
</head>
<body>
  <h1>MetaCoin</h1>
  <h2>Example Truffle Dapp</h2>
  <h3>You have <span class="black"><span id="balance"></span> META</span></h3>

  <br>
  <h1>Send</h1>
  <br><label for="amount">Amount:</label><input type="text" id="amount" placeholder="e.g., 95"></input>
  <br><label for="receiver">To Address:</label><input type="text" id="receiver" placeholder="e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"></input>
  <br><br><button id="send" onclick="sendCoin()">Send MetaCoin</button>
  <br><br>
  <span id="status"></span>
</body>
</html>-->
