<template name="menu">
<header>
  <h1>☉ The Bubble</h1>
  {{> dapp_identicon identity='0x922a519ac926f69856fcfc1b2b8b846cfb3f6b4e' class="dapp-small"}}
  Block Hight: {{blockhight}} Web3 Version: {{web3version}}
</header>
</template>
